################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WeatherService/WeatherService/bin/WebGrease.dll
/WeatherService/WeatherService/bin/WeatherService.pdb
/WeatherService/WeatherService/bin/WeatherService.dll.lastcodeanalysissucceeded
/WeatherService/WeatherService/bin/WeatherService.dll.config
/WeatherService/WeatherService/bin/WeatherService.dll.CodeAnalysisLog.xml
/WeatherService/WeatherService/bin/WeatherService.dll
/WeatherService/WeatherService/bin/System.Web.WebPages.xml
/WeatherService/WeatherService/bin/System.Web.WebPages.Razor.xml
/WeatherService/WeatherService/bin/System.Web.WebPages.Razor.dll
/WeatherService/WeatherService/bin/System.Web.WebPages.dll
/WeatherService/WeatherService/bin/System.Web.WebPages.Deployment.xml
/WeatherService/WeatherService/bin/System.Web.WebPages.Deployment.dll
/WeatherService/WeatherService/bin/System.Web.Razor.xml
/WeatherService/WeatherService/bin/System.Web.Razor.dll
/WeatherService/WeatherService/bin/System.Web.Optimization.xml
/WeatherService/WeatherService/bin/System.Web.Optimization.dll
/WeatherService/WeatherService/bin/System.Web.Mvc.xml
/WeatherService/WeatherService/bin/System.Web.Mvc.dll
/WeatherService/WeatherService/bin/System.Web.Http.xml
/WeatherService/WeatherService/bin/System.Web.Http.WebHost.xml
/WeatherService/WeatherService/bin/System.Web.Http.WebHost.dll
/WeatherService/WeatherService/bin/System.Web.Http.Owin.xml
/WeatherService/WeatherService/bin/System.Web.Http.Owin.dll
/WeatherService/WeatherService/bin/System.Web.Http.dll
/WeatherService/WeatherService/bin/System.Web.Helpers.xml
/WeatherService/WeatherService/bin/System.Web.Helpers.dll
/WeatherService/WeatherService/bin/System.Net.Http.Formatting.xml
/WeatherService/WeatherService/bin/System.Net.Http.Formatting.dll
/WeatherService/WeatherService/bin/roslyn
/WeatherService/WeatherService/bin/Owin.dll
/WeatherService/WeatherService/bin/Newtonsoft.Json.xml
/WeatherService/WeatherService/bin/Newtonsoft.Json.dll
/WeatherService/WeatherService/bin/Microsoft.Web.Infrastructure.dll
/WeatherService/WeatherService/bin/Microsoft.Owin.xml
/WeatherService/WeatherService/bin/Microsoft.Owin.Security.xml
/WeatherService/WeatherService/bin/Microsoft.Owin.Security.Twitter.xml
/WeatherService/WeatherService/bin/Microsoft.Owin.Security.Twitter.dll
/WeatherService/WeatherService/bin/Microsoft.Owin.Security.OAuth.xml
/WeatherService/WeatherService/bin/Microsoft.Owin.Security.OAuth.dll
/WeatherService/WeatherService/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
/WeatherService/WeatherService/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
/WeatherService/WeatherService/bin/Microsoft.Owin.Security.Google.xml
/WeatherService/WeatherService/bin/Microsoft.Owin.Security.Google.dll
/WeatherService/WeatherService/bin/Microsoft.Owin.Security.Facebook.xml
/WeatherService/WeatherService/bin/Microsoft.Owin.Security.Facebook.dll
/WeatherService/WeatherService/bin/Microsoft.Owin.Security.dll
/WeatherService/WeatherService/bin/Microsoft.Owin.Security.Cookies.xml
/WeatherService/WeatherService/bin/Microsoft.Owin.Security.Cookies.dll
/WeatherService/WeatherService/bin/Microsoft.Owin.Host.SystemWeb.xml
/WeatherService/WeatherService/bin/Microsoft.Owin.Host.SystemWeb.dll
/WeatherService/WeatherService/bin/Microsoft.Owin.dll
/WeatherService/WeatherService/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/WeatherService/WeatherService/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/WeatherService/WeatherService/bin/Microsoft.AspNet.Identity.Owin.xml
/WeatherService/WeatherService/bin/Microsoft.AspNet.Identity.Owin.dll
/WeatherService/WeatherService/bin/Microsoft.AspNet.Identity.EntityFramework.xml
/WeatherService/WeatherService/bin/Microsoft.AspNet.Identity.EntityFramework.dll
/WeatherService/WeatherService/bin/Microsoft.AspNet.Identity.Core.xml
/WeatherService/WeatherService/bin/Microsoft.AspNet.Identity.Core.dll
/WeatherService/WeatherService/bin/EntityFramework.xml
/WeatherService/WeatherService/bin/EntityFramework.SqlServer.xml
/WeatherService/WeatherService/bin/EntityFramework.SqlServer.dll
/WeatherService/WeatherService/bin/EntityFramework.dll
/WeatherService/WeatherService/bin/Antlr3.Runtime.pdb
/WeatherService/WeatherService/bin/Antlr3.Runtime.dll
/WeatherService/WeatherService/obj/Debug
/WeatherService/WeatherService.Tests/bin/Debug
/WeatherService/WeatherService.Tests/obj/Debug
