<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings>
    <add key="AppID" value="b6907d289e10d714a6e88b30761fae22"/>
    <add key="InputFilePath" value="C:\Sample Code\Cities.txt"/>
  </appSettings>

  <connectionStrings>

  </connectionStrings>
</configuration>
